/* -------------------------------------
	GLOBAL
------------------------------------- */

.ios-white a {
	color: #FFFFFF !important;
	text-decoration: none !important;
}

.ios-red a {
	color: #9B0B15 !important;
	text-decoration: none !important;
}

#outlook a {
  padding:0;
	color: #9B0B15 !important;
}

body{
  width:100% !important;
  min-width: 100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  margin:0;
  padding:0;
}

.ExternalClass {
  width:100%;
}

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

.ExternalClass a:link,
.ExternalClass span.ecxMsoHyperlink,
.ExternalClass a:visited,
.ExternalClass span.ecxMsoHyperlinkFollowed {
	color: #9B0B15 !important;
	text-decoration: none !important;
}

#backgroundTable {
  margin:0;
  padding:0;
  width:100% !important;
  line-height: 100% !important;
}

img {
	outline:none;
  text-decoration:none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  height: auto;
  max-width: 100%;
}

body {
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
	width: 100%!important;
	min-width: 100%!important;
	height: 100%;
	color: #333333;
}

hr {
	height: 1px;
	background-color: #CCCCCC;
	border: none;
	margin-bottom: 24px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important;
}

table, tr, td {
	margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: left;
}


/* -------------------------------------
		TYPOGRAPHY
------------------------------------- */
body, .body, td {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.1;
	margin-top: 0;
	margin-bottom:12px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 87.5%; color: #6f6f6f; line-height: 1; text-transform: none; }

h1 { font-weight:200; font-size: 40px;}
h2 { font-weight:200; font-size: 32px;}
h3 { font-weight:500; font-size: 24px;}
h4 { font-weight:500; font-size: 20px;}
h5 { font-weight:900; font-size: 16px;}
h6 { font-weight:900; font-size: 14px; text-transform: uppercase; color:#444;}

.formal td,
.formal h1,
.formal h2,
.formal h3,
.formal h4,
.formal h5,
.formal h6 {
	font-family: "Minion Pro", "Times New Roman", Serif;
}

.formal .social td {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.center {text-align: center;}
.collapse { margin:0!important;}

p, ul {
	margin-top: 0;
	margin-bottom: 12px;
	font-weight: normal;
	font-size:16px;
	line-height:1.5;
	word-break: keep-all;
}
p.lead {
	font-size:24px;
	font-weight: 200;
	line-height: 1.333333;
	margin-bottom: 24px;
}
/*p.last { margin-bottom:0px;}*/

ul li {
	margin-left:5px;
	list-style-position: inside;
}

/* -------------------------------------
		ELEMENTS
------------------------------------- */
a,
a:link,
a:visited {
	color: #9B0B15;
	text-decoration: none;
}

.block {
	display:block;
}

/*a.btn {
	mso-hide: all;
	text-decoration:none;
	color: #FFF;
	background-color: #9B0B15;
	margin-bottom: 24px;
	padding:12px 24px;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	display: inline-block;
	transition: background-color 200ms ease-in;
}

a.btn:last-child {
	margin-bottom: 0;
}

a.btn:hover,
a.btn:focus {
	background-color: #72121B;
}*/

table.button-wrap {
	background-color: #9B0B15;
	text-align: center;
	margin: 0 auto 12px;
	width: auto;
}

td.button-bg {
	color: #FFFFFF;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
	font-size: 16px;
	font-weight: bold;
	line-height: 150%;
	padding-top: 8px;
	padding-bottom: 8px;
}

a.button-link {
	color: #FFFFFF;
	text-decoration: none;
}


.callout {
	margin-top: 0;
	margin-bottom: 24px;
	background-color:#DFDFDF;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
	color: #000000;
}

.callout td {
	padding: 12px;
}

.callout.alert {
	background-color: #FFD9DA;
}

.callout.warn {
	background-color: #FFF3C1;
}

.callout a {
	font-family: inherit !important;
	font-weight:bold;
}

.news-list {
	margin-bottom: 24px;
}

.news-item-content {
	padding-bottom: 12px;
}

.news-item-image {
	width: 90px;
	padding-left: 15px;
	text-align: right;
}

.social {
	background-color: #333333;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.social p {
	font-size: 87.5%;
	color: #eee;
}

.social h3,
.social h4,
.social h5,
.social a,
.social a:visited {
	color: #FFFFFF;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}

.social a.soc-btn {
	display: block;
	padding: 6px 7px;
	font-size: 12px;
	margin-bottom: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}

a.fb { background-color: #3B5998; }
a.tw { background-color: #1daced; }
a.gp { background-color: #DB4A39; }
a.ms { background-color: #000000; }
a.ig { background-color: #02549E; }

.sidebar a.soc-btn {
	width:100%;
}

table.button-wrap {
	background-color: #C51E34;
	text-align: center;
	width: 100%;
}

table.button-wrap.fb { background-color: #3B5998; }
table.button-wrap.tw { background-color: #1daced; }
table.button-wrap.gp { background-color: #DB4A39; }
table.button-wrap.ms { background-color: #000000; }
table.button-wrap.ig { background-color: #02549E; }

td.button-bg {
	color: #FFFFF6;
	line-height: 150%;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

a.button-link,
a.button-link:visited {
	display: block;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none !important;
}

/* -------------------------------------
		HEADER
------------------------------------- */
table.head-wrap {
	width: 100%;
	margin-top: 10px;
}

.header { background-color: #9B0B15;}


.head-wrap td.logo {
	width: 100%;
	border-top: 5px solid #70070E;
	padding: 10px 15px;
}

.head-wrap td.label {
	width: 100%;
	background-color: #EEEEEE;
	padding: 10px 15px;
	font-size: 1.25em;
	font-weight: 200;
	color: #333333;
}

.head-wrap td.label .tagline {
	margin: 0 !important;
}


/* -------------------------------------
		BODY
------------------------------------- */
table.body-wrap { width: 100%;}

.body-wrap .container {
	border-bottom: 1px solid #ccc;
}

/* -------------------------------------
		FOOTER
------------------------------------- */
table.footer-wrap {
	width: 100%;
	clear:both!important;
	font-family: "H"
}

.footer-wrap .container td.content  p {
	border-top: 1px solid rgb(215,215,215); padding-top:15px;
}

.footer-wrap p,
.footer-wrap ul {
	font-size:12px;
}

.footer-wrap .container {
	border-left: none;
	border-right: none;
}

.footer-wrap .container .center {
	width: 100%;
}



/* -------------------------------------
		SIDEBAR
------------------------------------- */
.sidebar {
	display:block;
	padding: 0 !important;
	margin: 0 !important;
	border-top: 8px solid #C51E34;
}

.sidebar-item {
	display: block; margin:0;
	font-size: 14px;
	border-bottom: 1px solid #CCCCCC;
	padding: 8px 0;
	margin: 0 !important;
}

.sidebar-item h5 {
	margin: 0;
}

.sidebar-item p,
.sidebar-item a {
	font-size: 14px;
	color: #666666;
}

.sidebar-item a {
	text-decoration: none;
	cursor: pointer;
	margin: 0;
}
.sidebar-item a:hover,
.sidebar-item a:focus,
.sidebar-item a:hover p,
.sidebar-item a:focus p {
	color: #9B0B15 !important;
}

.sidebar-item.last { border-bottom-width:0px;}
.sidebar-item h1,.sidebar-item h2,.sidebar-item h3,.sidebar-item h4,.sidebar-item h5,.sidebar-item h6,.sidebar-item p:last-child { margin-bottom:0!important;}


/* ---------------------------------------------------
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
	display: block !important;
	width: 580px;
	max-width: 100% !important;
	margin: 0 auto !important; /* makes it centered */
	clear: both !important;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	width: 100%;
	display: block;
}

.content > tr > td,
.content > tbody > tr > td {
	padding: 15px;
}



/**
 * RESPONSIVE GRID RULES
 */

.column-wrap {
	margin: 0;
	display: block;
}

.column-wrap .wrapper {
	padding: 0 !important;
	position: relative;
}

.column {
	display: table;
	width: 290px;
	float: left;
	margin-bottom: 16px;
}

.column.col-big {
	width: 330px;
}

.column.col-small {
	width: 220px;
}

.column.col-third {
	width: 193px;
}

.column.col-two-thirds {
	width: 387px;
}

.column td {
	padding-right: 15px;
	width: 100% !important;
}

.column.last td {
	padding-right: 0;
}

td.expand {
	visibility: hidden;
  width: 0;
  padding: 0 !important;
}


/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }


/* -------------------------------------------
		PHONE
		For clients that support media queries.
		Nothing fancy. And remember that styles will
		be inlined, so !important is needed.
-------------------------------------------- */
@media only screen and (max-width: 600px) {

	.container {
		width: auto !important;
	}

	a[class="btn"] {
		display:block !important;
		margin-bottom:10px !important;
		background-image:none !important;
		margin-right:0 !important;
	}

	table.column-wrap .wrapper {
		display: block;
		width: 100% !important;
		padding: 0 !important
	}

	table.column {
		width: 100% !important;
		max-width: 100% !important;
		float:none !important;
	}

	table.column td {
		width: 100% !important;
	}

	table.column td.expand {
		width: 1px !important;
		padding: 0 !important;
	}

	table.head-wrap {
		margin-top: 0  !important;
	}

	table.social .column td {
		text-align: center !important;
	}

	h1 { font-size: 32px !important;}
	h2 { font-size: 28px !important;}
	h3 { font-size: 24px !important;}
	h4 { font-size: 20px !important;}
	h5 { font-size: 16px !important;}
	h6 { font-size: 14px !important;}

}